.navbar .navbar-brand {
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 20px;
    color: #dd5638;
}
.addcontact {
    margin-left: 0px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.table tbody>tr>td.middle {
    vertical-align: middle;
}
.media img, .fileinput .thumbnail, .thumbnail img {
    border-radius: 50%;
}
.media-left {
    padding: 0 20px;
}
.media-heading {
    color: #dd5638;
    margin-bottom: 10px;
}
.media {
    padding: 10px 0;
}
.media-body {
    padding-top: 15px;
}